@import "../../../assets/scss/colors.scss";

.subtitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
}

section {
  background-color: $bg-light;
  padding: 40px;
  margin-top: 32px;

  &:first-child {
    margin-top: 40px;
  }

  &:last-child {
    margin-bottom: 40px;
  }

  h4 app-icon {
    position: relative;
    top: -3px;
  }

  .total-items {
    font-size: 14px;
    padding-left: 34px;
  }
}
