// overrides bs primary color HSB format: hsb(210,100,80) --> #06c
$primary-h: 190;
$primary-s: 95;
$primary-b: 55;

// custom theme colors
$white: #ffffff;
$border-color: #cde9ee;
$bg-light: #f4fafb;
$bg-footer: #03313a;
$border-color-dark: #0f4b57;

// text colors
$grey-01: #5c6f82;
$grey-02: #2f475e;
$faq-question: #07768D;
$footer-link: #40a9bf;


// badge
$badge-success: #008055;
$badge-warning: #cc7a00;
$badge-error: #929da9;
