// overrides bs primary color HSB format: hsb(210,100,80) --> #06c
$primary-h: 190;
$primary-s: 95;
$primary-b: 55;

// custom theme colors
$white: #ffffff;
$border-color: #cde9ee;
$border-grey: #c5c7c9;
$bg-light: #f4fafb;
$bg-footer: #03313a;
$border-color-dark: #0f4b57;
$border-color-blue: #193a56;

// text colors
$grey-01: #5c6f82;
$grey-02: #2f475e;
$faq-question: #07768d;
$footer-link: #40a9bf;
$black: #1a1a1a;

// badges
$badge-success: #008055;
$badge-warning: #cc7a00;
$badge-error: #929da9;
$badge-date-warning: #995c00;
$badge-date-warning-bg: #fdf8e5;
$badge-date-error: #cc334d;
$badge-date-error-bg: #fbeff1;
$badge-bg: #004080;
