// overrides bs primary color HSB format: hsb(210,100,80) --> #06c
$primary-h: 190;
$primary-s: 95;
$primary-b: 55;

// custom theme colors
$border-color: #cde9ee;
$bg-light: #f4fafb;
$bg-footer: #03313a;
$border-color-dark: #0F4B57; 

// text colors
$grey-01: #5c6f82;
$grey-02: #2f475e;
$white: #FFF;
$footer-link: #40A9BF;


