.alert {
  border-radius: 6px;
  box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.1);
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/*Mobile*/
@media  (max-width: 767px) {
  .alert{
    border-top: 8px solid hsl(36, 100%, 30%);
    border-left: none;
  }

  .alert-dismissible {
    padding-right:64px;

    .btn-close {
      top: 30%;
    }
  }  
}