.navbar
  .navbar-collapsable
  .navbar-nav
  li.nav-item
  a.nav-link.active.focus--mouse {
  border-color: white !important;
}

/* SLIM HEADER */
.it-header-slim-wrapper {
  background-color: $slim-header-bg;

  .it-header-slim-wrapper-content {
    padding: 12px 0px;

    .navbar-brand {
      padding: 0 !important;
    }

    .it-header-slim-right-zone {
      height: auto;
      display: block !important;
      align-self: center;

      ul {
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
          list-style-type: none;

          &.slim-title {
            margin-right: auto;
          }
        }

        button,
        button:hover {
          padding: 0;
          background-color: unset;
        }

        .link-item {
          padding: 0 24px;
          border-right: 1px solid $white;

          .slim-header-icon {
            width: 24px;
            height: 24px;
          }

          .link-item-text {
            font-size: 16px;
            line-height: normal;
            padding: 0;
            margin-left: 10px;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    height: 48px;
    padding: 0;

    .row {
      width: unset;
    }
    .it-header-slim-wrapper-content {
      padding: 9px 0 !important;

      a {
        font-size: 14px;
      }

      .it-header-slim-right-zone {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul .link-item {
          padding: 0;
          margin-left: 24px;
          border-right: none;
        }
      }
    }
  }
}
/* END SLIM HEADER */

/* CUSTOM STICKY SLIM HEADER */
.header-sticky-wrapper {
  width: 100%;
  position: fixed;
  top: -57px;
  z-index: 1050;
  transition: all 0.3s ease;

  &.sticky {
    top: 0px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand-icon {
      display: flex;
      align-items: center;

      .it-brand-logo-img {
        width: 37px;
      }

      .it-brand-text {
        padding-left: 16px;

        .it-brand-title {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .navbar-nav {
      padding: 0 !important;

      .nav-item {
        a {
          color: #fff;
        }
      }
    }
  }
}
/* END CUSTOM STICKY SLIM HEADER */

/* SMALL-HEADER */
.it-header-center-wrapper.it-small-header {
  @media (max-width: 767px) {
    height: 72px;
    padding-left: 0;
    padding-right: 0;
    > div.container {
      width: 50%;
      margin-left: 0;
    }
  }
}

.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper {
  padding-left: 0;
  a {
    width: max-content;
  }
}
/* END SMALL-HEADER */

/* HEADER */
.it-nav-wrapper {
  .it-header-center-content-wrapper {
    padding: 0;

    .it-brand-wrapper {
      .it-brand-text {
        padding-left: 16px;
      }
    }
  }
}
/* END HEADER */

/* NAVBAR */
.it-header-navbar-wrapper {
  nav.navbar.navbar-expand-lg {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
/* END NAVBAR */

@media (max-width: 767px) {
  .row {
    width: unset;
  }

  .it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
    margin-top: -12px;
    z-index: 0;
    width: 30px;
    left: unset;
    right: 0;
  }
}
