$icon-size: 16px;

.arrow-table {
  position: absolute;
  cursor: pointer;
  width: $icon-size;
  height: $icon-size;
  margin-left: 4px;

  &.up {
    top: -2px;
    transform: rotate(180deg);
  }
  &.down {
    bottom: -2px;
  }
}
