p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: 0;
}

div {
  width: 100%;
}
// needed to prevent leaflet map bugs
#map div {
  width: unset;
}

// override bs classes
.btn {
  border-radius: $border-radius-xs;
  &.link {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }
}

//! TODO responsive fonts
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -2px;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

h5 {
  color: $grey-02;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

p {
  color: $grey-02;
}

/*Mobile*/
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  h5 {
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 18px;
  }
}
