<footer>
  <div class="container">
    <div class="footer-top">
      <div class="title">
        <img src="assets/img/Logo_Reg Toscana 1.png" />
        <h4>Regione Toscana</h4>
      </div>

      <div class="separator dark"></div>

      <div class="footer-contact">
        <h6 class="title">Contatti</h6>
        <div class="contact-details">
          <p class="paragraph">
            E-mail:
            <span class="info">
              <a class="link" href=""> {{ email }}</a></span
            >
          </p>
          <p class="paragraph">
            Numero verde: <span class="info"> {{ phoneNumber }} </span>
          </p>
          <p class="paragraph">
            Orario: <span class="info"> {{ time }} </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="separator dark"></div>

  <div class="container pt-4">
    <div class="footer-bottom">
      <div class="footer-copyright">
        <p class="copyright">
          Copyright &copy; 2024
          <a class="link" href="" target="_blank">Regione Toscana</a>
        </p>
        <p><a class="privacy" href=""> Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
