<it-header
  slimTitle="Regione Toscana"
  [light]="false"
  [showSearch]="false"
  [sticky]="true"
  [megamenu]="false"
  (loginClick)="false"
>
  <ul class="link-list" slimLinkList>
    <li class="link-item d-flex align-items-center">
      <img class="slim-header-icon bell" src="../../../assets/img/icons/bell.svg">
      <a class="link-item-text" href="#">Notifiche</a>
    </li>
    <li class="link-item d-flex align-items-center">
      <img class="slim-header-icon bell" src="../../../assets/img/icons/info.svg">
      <a class="link-item-text" href="#">Contatti</a>
    </li>
    <li class="link-item d-flex align-items-center">
      <img class="slim-header-icon bell" src="../../../assets/img/icons/user-circle.svg">
      <a class="link-item-text" href="#">Gloria Rossi</a>
    </li>
    <!--li *ngIf="isLogged">
      <a class="list-item" href="#" aria-current="page" (click)="logout()"
        >Logout</a
      >
    </li-->
  </ul>
  <ng-container brand>
    <a href="#">
      <img class="it-brand-logo-img" aria-hidden="true" src="../../../assets/img/logo_regione_toscana.png" />
      <div class="it-brand-text">
        <div class="it-brand-title">Portale cambio medico</div>
      </div>
    </a>
  </ng-container>
  <ng-container navItems>
    <it-navbar-item *ngFor="let link of links"
      ><a
        [ngClass]="{ active: isActive(link.url), 'nav-link': true }"
        [routerLink]="link.url"
        routerLinkActive="router-link-active"
        aria-current="page"
        ><span>{{ link.label }}</span></a
      ></it-navbar-item
    >
  </ng-container>
</it-header>
