<it-header
  slimTitle="Ente di appartenenza"
  [loginStyle]="isLogged ? 'none' : 'full'"
  [light]="false"
  [showSearch]="true"
  [sticky]="true"
  [megamenu]="true"
  (loginClick)="onClickLogin()"
>
  <ul class="link-list" slimLinkList>
    <li><a class="dropdown-item list-item" href="#">Link 1</a></li>
    <li>
      <a class="list-item" href="#" aria-current="page">Link 2 (Attivo)</a>
    </li>
    <li *ngIf="isLogged">
      <a class="list-item" href="#" aria-current="page" (click)="logout()"
        >Logout</a
      >
    </li>
  </ul>
  <ng-container brand>
    <a href="#">
      <it-icon name="pa"></it-icon>
      <div class="it-brand-text">
        <div class="it-brand-title">Nome dell'Istituzione</div>
        <div class="it-brand-tagline d-none d-md-block">
          Tag line dell'Istituzione
        </div>
      </div>
    </a>
  </ng-container>
  <div class="it-socials d-none d-md-flex" rightZone>
    <span>Seguici su</span>
    <ul>
      <li>
        <a href="#" aria-label="Facebook" target="_blank">
          <it-icon name="facebook"></it-icon>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Github" target="_blank">
          <it-icon name="github"></it-icon>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Twitter" target="_blank">
          <it-icon name="twitter"></it-icon>
        </a>
      </li>
    </ul>
  </div>
  <ng-container navItems>
    <it-navbar-item *ngFor="let link of links"
      ><a
        [ngClass]="{ active: isActive(link.url), 'nav-link': true }"
        [routerLink]="link.url"
        routerLinkActive="router-link-active"
        aria-current="page"
        ><span>{{ link.label }}</span></a
      ></it-navbar-item
    >
  </ng-container>
</it-header>
