<p>notification works!</p>
<div class="notification">
  <div class="notification-content">
    <it-alert color="success" *ngIf="response">
      <h5 heading>Il cambio medico è stato completato</h5>
      <p>
        Nella Scrivania trovi le informazioni relative al tuo nuovo medico:<br />
        <span class="name"> </span>
        Scarica l’attestato, potrai trovarlo anche all’interno della Scrivania
        nella sezione "Il tuo medico attuale".
      </p>
      <div class="btns-wrapper">
        <button class="btn btn-primary">Torna alla scrivania</button>
        <button class="btn btn-outline-primary">
          Scarica Attestato PDF (120KB)
        </button>
      </div>
    </it-alert>
    <it-alert color="danger" *ngIf="!response">
      <h5 heading>Qualcosa non ha funzionato</h5>
      <p>
        Il medico selezionato non è più disponibile e non è stato possibile
        effettuare il cambio. Torna alla lista medici e seleziona un altro
        medico.
      </p>
      <div class="btns-wrapper">
        <button class="btn btn-primary">Torna alla lista medici</button>
      </div>
    </it-alert>
  </div>
</div>
