.alert-container{
    h5{
        font-weight: 600;
        margin-bottom: 16px;
    }
    .btns-wrapper {
        margin:24px 0 0;
        text-align: left;
        display:flex;
        justify-content: space-between;
    }
}