.page-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 1.5rem;
}

.progress-spinner {
  width: 100px;
}
