.input-file-wrapper {
  button {
    min-width: fit-content;
  }
  display: flex;
  gap: 16px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
