@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/variables.scss";

.document-card {
  margin-top: 16px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: $white;
  border-radius: $border-radius-xs;
  box-shadow: $shadow;
}

.card-header,
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  &.sent {
    gap: 24px;
    justify-content: end;

    div.line {
      display: block;
      height: 28px;
      width: 1px;
      background-color: $border-color;
    }

    button {
      padding: 0;
    }
  }
}

.date {
  margin-left: auto;
}

.badge-container{
  display: flex;
  gap:8px;

  .badge {
    width: fit-content;
    padding: 4px 16px;
    border-radius: $border-radius-xs;
    color: $white;
    background: $badge-bg;

    &.today {
      color: $badge-date-error;
      border: 1px solid $badge-date-error;
      background: $badge-date-error-bg;
    }
    &.tomorrow {
      color: $badge-date-warning;
      border: 1px solid $badge-date-warning;
      background: $badge-date-warning-bg;
    }
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .document-card{
    margin-top: 24px;

    .card-header{
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;

      .badge-container{

      }

      .date{
        margin: 0;
      }
    }

    .card-footer{
      .link{
        font-size:14px;
      }
    }
  }

}