@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/variables.scss";

.info-card {
  padding: 24px;
  display: flex;
  gap: 24px;
  border-radius: $border-radius-xs;
  border: 1px solid $border-color;
  margin: 32px 0 40px;
}

.selct-doctor {
  background-color: $bg-light;
  padding: 40px 0;
}

.btns-wrapper {
  margin: 32px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;

  .results {
    margin-right: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
  }
}

// map sight
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 376px;
  overflow-y: auto;
}
.doctor-card {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: $border-radius-xs;
  background: $white;
  box-shadow: $shadow;
}

.map-container {
  margin: 30px 0;
}

.map-frame {
  border: 2px solid black;
  height: 400px;
}

#map {
  height: 100%;
}

span.active {
  background-color: gold;
}

//table sight
