<section class="container">
  <it-breadcrumb separator="/">
    <it-breadcrumb-item
      *ngFor="let item of crumbs"
      class="me-1"
      [href]="'/' + item.link"
      [iconName]="item.icon"
    >
      {{ item.label }}
    </it-breadcrumb-item>
  </it-breadcrumb>
  <h1 class="mb-2">Cambia medico</h1>
  <h5>
    È possibile cambiare il
    <strong>Medico di Medicina Generale </strong> (MMG) oppure, per i figli
    minorenni, il <strong>Pediatra di Libera Scelta </strong>  (PLS). La ricerca
    sarà effettuata nell'ambito della Azienda Socio-Sanitaria Territoriale
    (ASST) di competenza.
  </h5>
  <div class="info-card">
    <div>
      <p class="label">Comune di residenza</p>
      <p>Torino</p>
    </div>
    <div>
      <p class="label">Comune di domicilio sanitario</p>
      <p>Informazione non presente</p>
    </div>
  </div>
</section>
<!--Desktop-->
<section class="selct-doctor" *ngIf="!isMobile">
  <div class="container">
    <div class="filters-wrapper">Filters</div>
    <div class="separator"></div>
    <div class="btns-wrapper">
      <p class="results">Trovati {{ list.length }} medici</p>
      <it-dropdown color="outline-primary">
        <span button>Ordina per</span>
        <ng-container list>
          <it-dropdown-item
            *ngFor="let item of orderByItems"
            externalLink="true"
            (click)="onChangeOrder(item.text)"
          >
            {{ item.text }}
          </it-dropdown-item>
        </ng-container>
      </it-dropdown>
      <button itButton="outline-primary" (click)="sightToggle()">
        {{
          currentSight === "map" ? "Visualizza in lista" : "Visualizza in mappa"
        }}
      </button>
    </div>
    <!-- MAPPA -->
    <div
      class="list-map-container"
      [ngClass]="{ 'd-none': currentSight === 'table' }"
    >
      <div [ngClass]="{ 'd-none': !showList }">
        <div class="cards-wrapper">
          <a
            class="doctor-card"
            [ngClass]="{ active: activeMarker === item.id }"
            *ngFor="let item of list"
            [routerLink]="['/', routes.doctors.path, item.id]"
          >
            <div
              (mouseover)="setActiveMarker(item.id)"
              (mouseout)="setActiveMarker()"
            >
              <div class="card-header">
                <p
                  class="available-badge"
                  [ngClass]="{
                    available: item.available === 'yes',
                    'only-desk': item.available === 'only_desk'
                  }"
                >
                  <span>
                    {{ item.available }}
                  </span>
                </p>
                <p>{{ item.company.name }}</p>
              </div>
              <h4>{{ item.name }}</h4>
              <p>
                <app-icon type="location-dot"></app-icon
                >{{ item.address.city }},
                {{ item.address.street }}
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="pe-0">
        <div class="map-container">
          <button
            class="list-toggle-btn link"
            itButton="outline-primary"
            (click)="listToggle()"
          >
            <app-icon
              *ngIf="!showList"
              type="chevron-right"
              size="14"
            ></app-icon>
            <app-icon *ngIf="showList" type="chevron-left" size="14"></app-icon>
            {{ showList ? "Nacondi elenco" : "Mostra elenco" }}
          </button>
          <app-custom-map [markers]="list"></app-custom-map>
        </div>
      </div>
    </div>
    <!-- TABLE -->
    <div [ngClass]="{ 'd-none': currentSight === 'map', row: true }">
      <app-table-doctors [rows]="list"></app-table-doctors>
    </div>
  </div>
</section>

<!--Mobile-->
<it-tab-container *ngIf="isMobile">
  <it-tab-item
    [id]="'tab-' + index"
    *ngFor="let tab of tabs; let index = index"
    [label]="tab"
    [active]="selectedIndex === index"
  >
    <div class="btns-wrapper">
      <div class="filters">
        <button class="btn btn-outline-primary">
          <app-icon type="sliders" size="16" fill="#07768D"></app-icon> Filtri
        </button>
      </div>

      <div class="button-container">
        <p class="results">Trovati {{ list.length }} medici</p>
        <it-dropdown color="outline-primary">
          <span button>Ordina per</span>
          <ng-container list>
            <it-dropdown-item
              *ngFor="let item of orderByItems"
              externalLink="true"
              (click)="onChangeOrder(item.text)"
            >
              {{ item.text }}
            </it-dropdown-item>
          </ng-container>
        </it-dropdown>
      </div>
    </div>
    <!--Contenuto dei tab-->

    <div *ngIf="tab === 'Mappa'">
      <!-- Contenuto della mappa -->
      <div class="map-container">
        <app-custom-map [markers]="list"></app-custom-map>
      </div>
    </div>
    <div *ngIf="tab === 'Lista'">
      <!-- Contenuto della lista -->
      <div class="cards-wrapper">
        <a
          class="doctor-card"
          [ngClass]="{ active: activeMarker === item.id }"
          *ngFor="let item of list"
          [routerLink]="['/', routes.doctors.path, item.id]"
        >
          <div
            (mouseover)="setActiveMarker(item.id)"
            (mouseout)="setActiveMarker()"
          >
            <div class="card-header">
              <p
                class="available-badge"
                [ngClass]="{
                  available: item.available === 'yes',
                  'only-desk': item.available === 'only_desk'
                }"
              >
                <span>
                  {{ item.available }}
                </span>
              </p>
              <p>{{ item.company.name }}</p>
            </div>
            <h4>{{ item.name }}</h4>
            <p>
              <app-icon type="location-dot"></app-icon>{{ item.address.city }},
              {{ item.address.street }}
            </p>
          </div>
        </a>
        <button class="btn btn-outline-primary">Mostra altri medici</button>
      </div>
    </div>
  </it-tab-item>
</it-tab-container>
