@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/variables.scss";

$map-height: 776px;

.info-card {
  padding: 24px;
  display: flex;
  gap: 24px;
  border-radius: $border-radius-xs;
  border: 1px solid $border-color;
  margin: 32px 0 40px;

  .label{
    font-weight: 600;
  }
}

.selct-doctor {
  background-color: $bg-light;
  padding: 40px 0;
}

.btns-wrapper {
  margin: 32px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;

  .results {
    margin-right: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
  }
}

// map sight
.list-map-container {
  display: flex;
  gap: 20px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  height: $map-height;
  overflow-y: auto;
}

.doctor-card {
  text-decoration: none;
  &.active > div {
    background-color: $bg-light;
  }

  > div {
    padding: 24px;
    margin-bottom: 24px;
    border-radius: $border-radius-xs;
    background: $white;
    box-shadow: $shadow;
    cursor: pointer;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  h4 {
    color: $grey-01;
    margin-bottom: 8px;
  }
}

.map-container {
  height: $map-height;
  position: relative;

  .list-toggle-btn {
    z-index: 500;
    background-color: $white;
    position: absolute;
    top: 20px;
    left: 20px;

    app-icon {
      transform: rotate(180deg);
    }
  }
}

//table sight


/*Mobile*/
@media  (max-width: 767px) {
  h5{
    font-size: 20px;
    margin-top: 8px;
  }

  .info-card{
    padding:12px;
    gap:8px;
    flex-direction: column;
    margin: 24px 0;
  }

    .btns-wrapper{
      flex-direction: column;

      .filters{
       text-align: right;
      }

      .button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

  
  .cards-wrapper{
    button{
      width: fit-content;
      display: flex;
      align-self: center;
      margin-top:8px;
    }
    
  }
  .doctor-card {

    > div {
      margin-bottom: 16px;
    }
  }
}