// Import libreria css di leaflet
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "./assets/scss/index.scss";
@import "./assets/scss/reset.scss";

html,
body {
  height: 100%;

  &.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}
body {
  margin: 0;
}

// common classes
.rbt {
  font-family: Roboto, sans-serif;
}
.rbt-600 {
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

div.separator {
  height: 1px;
  width: 100%;
  background-color: $border-color;
}
.label {
  color: $grey-01;
}
.link {
  font-weight: 600;
  text-decoration: none;

  svg {
    fill: var(--bs-primary);
  }

  &:hover svg,
  &:active svg {
    fill: var(--bs-link-hover-color);
  }
}
