<h1 class="container">Benvenut{{ gender === "m" ? "o" : "a" }} {{ name }}</h1>
<section class="doctor-info">
  <div class="container">
    <h4>Il tuo medico attuale</h4>
    <h3>{{ currentDoctor.name }}</h3>
    <div class="separator"></div>
    <div>
      <p class="label">Contatti</p>
      <p>
        <app-icon type="envelope"></app-icon>
        {{ currentDoctor.email }}
      </p>
      <p>
        <app-icon type="phone"></app-icon>
        {{ currentDoctor.phone }}
      </p>
      <div class="clinic-text">
        <p class="label">Ambulatori personali</p>
        <a
          class="link"
          [routerLink]="['/', routes.doctors.path, currentDoctor.id]"
          >Ambulatori personali
          <app-icon type="arrow-right"></app-icon>
        </a>
      </div>
      <!-- TODO cards -->
      <p>*Il medico riceve solo su appuntamento</p>
    </div>
    <div class="separator"></div>
    <div class="btns-wrapper">
      <a
        [routerLink]="['/', routes.doctors.path, currentDoctor.id]"
        class="btn btn-outline-primary"
        >Vai al dettaglio</a
      >
      <a
        href="../../../assets/img/activePin.png"
        download="attestato_medico_attuale"
        class="btn btn-outline-primary"
        >Scarica attestato</a
      >
      <a [routerLink]="['/', routes.doctors.path]" class="btn btn-primary"
        >Cambia medico</a
      >
    </div>
  </div>
</section>

<section class="container more-info">
  <h2>Disponibilità del servizio</h2>
  <p>
    Il servizio di scelta medico online è disponibile per le seguenti tipologie
    di cittadino:
  </p>
  <ul>
    <li>
      <p>
        Cittadini italiani residenti in Toscana, assistiti da un medico toscano.
      </p>
    </li>
    <li>
      <p>
        Cittadini italiani, con domicilio sanitario Toscana, attualmente
        assistiti da un medico toscano.
      </p>
    </li>
    <li>
      <p>
        Cittadini comunitari o stranieri, residenti in Toscana, attualmente
        assistiti da un medico toscano.
      </p>
    </li>
  </ul>
  <div class="separator"></div>
  <p>
    Oltre ai casi sopra evidenziati, è possibile scegliere il nuovo medico anche
    nel caso in cui il proprio medico toscano abbia cessato la propria attività.
    Il servizio sarà inizialmente disponibile per l’Azienda Usl Toscana
    Nordovest e verrà poi progressivamente esteso a tutta la toscana, seguendo
    il piano di avvio del nuovo software di scelta e revoca Adiba. Negli altri
    casi, o per particolari operazioni quali scelta in deroga, revoca,
    ricusazione ecc., è necessario rivolgersi agli sportelli del servizio di
    scelta e revoca, attivi presso la propria Azienda USL di riferimento. Per
    ulteriori informazioni suggeriamo di consultare le sezione con le
    <a [routerLink]="'/' + routes.faq.path">domande frequenti (FAQ). </a>
  </p>
</section>

<section class="faq">
  <div class="container">
    <div class="faq-title">
      <h2>Domande frequenti</h2>
      <a class="link" [routerLink]="['/', routes.faq.path]"
        >Vai alle domande frequenti
        <app-icon type="arrow-right"></app-icon>
      </a>
    </div>
    <!-- TODO faq cards -->
  </div>
</section>
