@import "../../../assets/scss/variables.scss";

button {
  border-radius: $border-radius-xs;

  span {
    &.left {
      padding-left: 0.5rem;
    }
    &.right {
      padding-right: 0.5rem;
    }
  }
}
