<it-modal id="modal-confirm" alignment="centered">
  <ng-container modalTitle>{{ title }}</ng-container>
  <ng-container description>{{ description }}</ng-container>

  <p>{{ body }}</p>

  <ng-container footer>
    <button
      itButton="primary"
      size="sm"
      type="button"
      data-bs-dismiss="modal"
      (click)="clickConfirm()"
    >
      {{ confirmLabel }}
    </button>
    <button
      itButton="outline-primary"
      size="sm"
      type="button"
      data-bs-dismiss="modal"
    >
      {{ cancelLabel }}
    </button>
  </ng-container>
</it-modal>
